/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
footer {
  margin: 50px 200px;
}
h4 {
	color:black;
}

.box{
	min-height:125px;
	background:#ffffff;
	transition: background-color .5s;
}
.box-center{
	min-height:125px;
	background:#ffffff;
	transition: background-color .5s;
	text-align:center;
}
.boxalt{
	min-height:125px;
	background:#8a837e;
	transition: background-color .5s;
	color:white;
}
.boxalt2{
	min-height:125px;
	background:#6ec2bf;
	transition: background-color .5s;
	color:white;
}
.boxpad{
	min-height:125px;
	background:#ffffff;
	transition: background-color .5s;
	padding: 30px;
}
.boxpad2{
	min-height:125px;
	background:#ffffff;
	transition: background-color .5s;
	padding: 10px;
}